.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    margin-top: 2px;
}

.header__navbar-item {
    margin: 0 6px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--has-qr:hover .header-qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.35rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    padding-bottom: 3px;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-language-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--sperate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header_QRCODE */

.header-qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header-qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-left: 11px;
    padding-bottom: 20px;
}

.header__qr-link:nth-child(3) {
    margin-left: 8px;
}

.header__qr-app-gallery {
    position: absolute;
    margin-top: 24px;
}

.header__qr-download-img-app-gallery {
    height: 15px;
}


/* Notify */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 16px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    cursor: default;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item-viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-item-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    padding-bottom: 4px;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
}

.header__notify-footer {
    display: flex;
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header-search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: relative;
}

.header__cart {
    position: relative;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    display: inline-block;
    position: relative;
    padding: 0 8px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    top: 120%;
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ccc;
    display: none;
    animation: headerNotify ease-in 0.3s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    cursor: pointer;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 4px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 40px 0;
}

.header__cart-img {
    width: 56%;
}

.header__cart-list-mess {
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header-search-input-wrap {
    flex: 1;
    height: 100%;
}

.header-search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-selection {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}


/* Product Search */

.header-with-search-product {
    width: 100%;
    position: absolute;
    left: 234px;
}

.header-with-search-product-list {
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    list-style: none;
    margin-top: 0;
}

.header-with-search-product-item {
    margin-left: 0;
}

.header-with-search-product-item-link {
    color: var(--white-color);
    margin: 0 6px;
    text-decoration: none;
    font-size: 1.3rem;
}


/* Language */

.header__navbar-language {
    padding-left: 0px;
    position: relative;
    cursor: pointer;
    display: none;
    animation: headerLanguage ease-in 0.3s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 50px) top;
    z-index: 1;
}

.header__navbar-language::before {
    content: "";
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 40px;
    top: -12px;
}

.header__navbar-language-label {
    width: 100%;
}

.header__navbar-language-label:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-language-option {
    position: absolute;
    right: -2px;
    top: 18px;
    width: 200px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0px;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
    border-radius: 6px;
}

.header__navbar-icon-language {
    font-weight: 300;
    font-size: 1.7rem;
    margin: 0 6px 0 7px;
}

.header__navbar-language-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__navbar-language-viewed:hover .header__navbar-language {
    display: block;
}

.header__navbar-language-item {
    background-color: var(--white-color);
    padding: 12px 20px 10px 8px;
    width: 100%;
}

.header__navbar-language-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__navbar-language-item span:hover {
    color: var(--primary-color);
}


/* Selection */

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header-search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header-search-btn:hover {
    background-color: #fb6445;
}

.header-search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-selection-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 180px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
}

.header__search-selection-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-selection-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-selection:hover .header__search-selection-option {
    display: block;
}

.header__search-selection-item:hover {
    background-color: #fafafa;
}

.header__search-selection-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-selection-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-selection-item--active i {
    display: inline-block;
}


/* Container */

.container {
    background-color: #F5F5F5;
}

.category {
    background-color: var(--white-color);
}

.app_container {
    padding-top: 16px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 16px 0;
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item-link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
    margin-left: 9px;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item--active .category-item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}


/* Home soft and filter */

.home_filter {
    margin-bottom: 0;
    display: flex;
    border-radius: 2px;
    padding: 14px 38px;
    background-color: var(--white-color);
    align-items: center;
    width: 100%;
    z-index: 0;
    position: relative;
}

.home_filter-title-wrap {
    align-items: center;
    padding: 4px 0 4px 12px;
}

.home_fiter-title-navbar {
    margin-top: 4px;
    position: absolute;
    background-color: var(--primary-color);
    height: 4px;
    bottom: 0;
    left: 0;
    width: 18%;
}

.home_filter--page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home_filter-title {
    font-size: 1.8rem;
    color: rgb(238, 77, 45);
}

.home_filter-label {
    padding-left: 72px;
    padding-top: 6px;
}

.home_filter-label-img {
    width: auto;
    height: 2rem;
}

.home_filter-btn {
    margin-right: 12px;
    min-width: 90px!important;
    background-color: var(--white-color);
}

.home_filter--page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home_filter--page-current {
    color: var(--primary-color);
}

.home_filter--page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home_filter--page-btn--disable {
    cursor: default;
    background-color: #f9f9f9;
}

.home_filter--page-btn--disable .home_filter--page-icon {
    color: #ccc;
}

.home_filter--page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home_filter--page-btn:first-child {
    border-right: 1px solid #eee;
}

.home_filter--page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}


/* Category body */

.body__category {
    padding: 0 4px;
    margin-top: 20px;
    background-color: var(--white-color);
}

.body__category_heading {
    margin-top: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 16px 18px;
    background-color: var(--white-color);
}

.body__category_heading-label {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
}

.body__category_heading-contain {
    text-decoration: none;
    display: block;
    position: relative;
    margin-top: 0;
    background-color: var(--white-color);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .03);
}

.body__category_heading-img {
    margin-top: 10px;
    padding-top: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.body__category_heading-text {
    color: rgba(0, 0, 0, .8);
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.3rem;
    height: 3rem;
    margin-bottom: 2.6rem;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
}

.body__category_heading-contain:hover {
    transform: translateZ(0);
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
}



/* Product Item */
.home_product {
    margin-bottom: 10px;
}
.home_product-item {
    text-decoration: none;
    display: block;
    position: relative;
    margin-top: 8px;
    background-color: var(--white-color);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.2s;
    will-change: transform;
}
.home_product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid var(--primary-color);
}
.home_product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.home_product-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    padding: 0 4px;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home_product-item-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 12px;
}
.home_product-item-price--old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}
.home_product-item-price--current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home_product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 8px 12px 0;
    padding-bottom: 12px;
}
.home_product-item-like {
    font-size: 1.4rem;
}
i.home_product-item-like-icon-fill {
    color: #f63d30;
    display: none;
}
.home_product-item-like--liked .home_product-item-like-icon-fill {
    display: inline-block;
}
.home_product-item-like--liked .home_product-item-like-icon-empty {
    display: none;
}
.home_product-item-rate {
    font-size: 0.8rem;
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home_product-item-star-gold {
    color: var(--yellow-star-color)
}
.home_product-item-sold {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 6px;
}
.home_product-item__origin {
    display: flex;
    margin: 12px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home_product-item__brand {
    margin-right: auto;
}
.home_product-item_favourite {
    position: absolute;
    left: -4px;
    top: 10px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home_product-item_favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home_product-item_favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}
.home_product-item_favourite span {
    color: var(--white-color);
}
.home_product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}
.home_product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
    border-style: solid;
}
.home_product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
}
.home_product-item__sale-off-label {
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    position: relative;
    top: 4px;
}

/* See More */
.home__see-more {
    display: flex;
    justify-content: center;
    padding: 20px 0 70px 0;
}
.home__see-more-btn {
    padding: 10px 160px;
    align-items: center;
    background-color: var(--white-color);
    overflow: visible;
    border: 1px solid rgba(0, 0, 0, 0.09);
    outline: none;
    box-shadow: rgb(0 0 0 / 3%) 0px 1px 1px 0px;
    box-sizing: border-box;
}
.home__see-more-label {
    color: rgb(85, 85, 85);
    font-size: 1.4rem;
}
.home__see-more-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .02);
}

/* Page */
.pagination_home-product {
    margin: 48px 0 32px 0;
}

/* Shoppe Mall */
.section-shopee-mall {
    margin-top: 20px;
}
.section-shopee-mall-heading {
    padding: 6px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.section-shopee-mall-heading-label {
    display: flex;
    align-items: center;
    padding: 20px 12px;
    justify-content: center;
}
.section-shopee-mall-heading-text {
    color: #d0011b;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3rem;
    align-self: center;
    text-decoration: none;
    margin-right: 30px;
    position: relative;
}
.section-shopee-mall-heading-text::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -16px;
    height: 20px;
    border-left: 1px solid var(--border-color);
}
.section-shopee-mall-heading-link-label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #333;
    white-space: nowrap;
    height: 1.8rem;
    text-decoration: none;
}
.section-shopee-mall-heading-link-body {
    font-size: 1.7rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
}
.section-shopee-mall-heading-link-see-more {
    font-size: 1.4rem;
    text-decoration: none;
    color: #d0011b;
    font-family: Arial, Helvetica, sans-serif;
}
.section-shopee-mall-heading-link-img {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 6px;
}
.section-shopee-mall-heading-link-see-more-icon {
    margin-left: 7px;
    padding: 3px 6px;
    background-color: #d0011b;
    border-radius: 50%;
    color: var(--border-color);
    font-size: 1.3rem;
}
.section-shopee-mall-contain {
    background-color: var(--white-color);
    margin-top: 10px;
}
.section-shopee-mall-contain-banner-img {
    display: block;
    width: 100%;
    overflow: hidden;
}
.section-shopee-mall-contain-body-item {
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 28px 0;
}
.section-shopee-mall-contain-body-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section-shopee-mall-contain-body-item-text {
    position: absolute;
    left: 38px;
    bottom: 8px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    overflow: hidden;
    color: #d0011b;
}

/* Trending */
.section-trending {
    margin-top: 20px;
    background-color: var(--white-color);
}
.section-trending-heading {
    background-color: var(--white-color);
    padding: 6px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.section-trending-heading-text {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
}
.section-trending-heading-label {
    display: flex;
    align-items: center;
    padding: 20px 12px;
    justify-content: center;
}
.section-trending-heading-link {
    text-decoration: none;
    padding-right: 20px;
}
.seaction-trending-heading-icon {
    margin-left: 7px;
    padding: 3px 6px;
    border-radius: 50%;
    color: #ee4d2d;
    font-size: 1.4rem;
}
.section-trending-heading-body {
    color: #ee4d2d;
    font-size: 1.4rem;
}
.section-trending-body {
    flex: 0 1 auto;
    box-sizing: border-box;
    text-decoration: none;
}
.section-trending-body-heading {
    padding: 16px 20px;
    flex: 13 0;
    min-width: 0;
}
.section-trending-body-heading-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.4rem;
}
.section-trending-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    cursor: pointer;
}
.section-trending-body-heading-info {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    color: #757575;
    font-size: 1.3rem;
}
.section-trending-body-contain-img {
    position: relative;
    flex: 10 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px 10px;
}
.container__most-search {
    background-color: var(--white-color);
    margin-top: 20px;
}
.container__most-search-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 6px 0;
    padding-left: 20px;
    padding-right: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.container__most-search-heading-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 12px;
}
.container__most-search-heading-text {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.container__most-search-heading-link {
    text-decoration: none;
}
.container__most-search-heading-link-label {
    font-size: 1.4rem;
    color: var(--primary-color);
}
.container__most-search-heading-link-icon {
    padding: 3px 6px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.container__most-search-wrap {
    background-color: var(--white-color);
    padding: 12px 10px;
    padding-top: 18px;
}
.container__most-search-product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.container__most-search-product-img-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 25px;
    background-color: rgba(0, 0, 0, .26);
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
}
.container__most-search-product-link {
    text-decoration: none;
}
.container__most-search-product-text {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 20px;
    color: #555;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: left;
    text-transform: capitalize;
    word-break: break-word;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
}
.container__most-search-product-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
}
.container__most-search-product-top-img {
    width: 100%;
    height: 100%;
}
@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes headerLanguage {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}